input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
body{
    background-color:whitesmoke
}

input[type=text] {
    background-color: #3CBC8D;
    color: rgb(245, 244, 244);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }